{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="list list-gap-24 collapsible-container" data-collapse-after="{{ .CollapseAfter }}">
    {{ range .Items }}
    <li class="flex gap-15 items-start row-reverse-on-mobile thumbnail-parent">
        <div class="grow min-width-0">
            <a class="size-h3 color-primary-if-not-visited" href="{{ .Link }}" target="_blank" rel="noreferrer">{{ .Title }}</a>
            <ul class="list-horizontal-text flex-nowrap">
                <li {{ dynamicRelativeTimeAttrs .PublishedAt }}></li>
                <li class="min-width-0">
                    <a class="block text-truncate" href="{{ .ChannelURL }}" target="_blank" rel="noreferrer">{{ .ChannelName }}</a>
                </li>
            </ul>
            {{ if ne "" .Description }}
            <p class="rss-detailed-description text-truncate-2-lines margin-top-10">{{ .Description }}</p>
            {{ end }}
            {{ if gt (len .Categories) 0 }}
            <ul class="attachments margin-top-10">
            {{ range .Categories }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
    </li>
    {{ else }}
    <li>{{ .NoItemsMessage }}</li>
    {{ end }}
</ul>
{{ end }}
